[Desktop Entry]
Encoding=UTF-8
Name=OneDollar
Comment=OneDollar P2P Cryptocurrency
Comment[fr]=OneDollar, monnaie virtuelle cryptographique pair à pair
Comment[tr]=OneDollar, eşten eşe kriptografik sanal para birimi
Exec=/usr/bin/onedollar-qt
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/bitcoin80.xpm
MimeType=x-scheme-handler/onedollar;
Categories=Office;
